div{
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
}
div:hover{
    background-color: darkslateblue;
    color: white;
}
div:active{
    background-color: pink;
    color: black;
}