*{
    padding: 0;
    margin: 0;
}
.parent{
    background-color: pink;
    height: 100px;
    width: 100px;
    margin-left: 10px;
}
.child{
    background-color: teal;
    height: 50%;
    width: 50%;
    margin-left: 10%;
    margin-top: 10%;
    padding-left: 10%;
}